@use "bootstrap/scss/bootstrap";
@import "@ng-select/ng-select/themes/default.theme.css";

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
}

.btn-casa, .casa-selected {
    background-color: #907B4E;
    color: #FFFFFF;
}

.btn-casa-outline, .btn-casa:hover {
    border-color: #907B4E;
    color: #907B4E;
}

.btn-casa-outline:hover {
    border-color: #645636;
    background-color: #b1a283;
    color: #FFFFFF;
}